body {
  background: peachpuff;
}
*{
  border:brown 1px solid;
}
.container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100vw;
}
header{
  position: relative;
  width:100%;
  text-align: center;
}
header>.a{
  margin:5px;
  min-height: 190px;
}
section{
  position: relative;
  width:100%;
  display: flex;
  flex-wrap:wrap;
}
section>div{
  margin:5px;
  min-height: 190px;
  width:30%;
}
aside{
  position: relative;
  width:100%;
}
aside>div{
  min-height: 400px;
  margin: 5px;
}
/*
.container{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-content: stretch;
  width:100vw;
}

.container>div{
  margin: 5px;
  min-height: 200px;
}
.container>.a{
  position: relative;
  width:100%;
  order:0;
}
.container>.b{
  position: relative;
  width: 17%;
  order:1
}
.container>.c{
  position: relative;
  width: 17%;
  order:2;
}
.container>.d{
  position:relative;
  width:17%;
  order: 3;
}
.container>.h{
  position: relative;
  width:40%;
  order: 4;
}
.container>.e{
  order:5;
  width:17%
}
.container>.f{
  order:6;
  width:17%
}
.container>.g{
  order:7;
  width:17%;
}
@media screen and (max-width:600px){
  .container>.b, .container>.c, .container>.d{
    width:30%;
  }

  .container>.h{
    order:7;
    width:100%
  }
  .container>.e{
    order:4;
    width:30%
  }
  .container>.f{
    order:5;
    width:30%
  }
  .container>.g{
    order:6;
    width:30%
  }
}
*/