body {
  background: blanchedalmond;
}
.a{
  border: 10px solid black;
  display: flex;
  min-height: 300px;
  max-width: 600px;

}
.b{
  border: 10px solid white;
  min-height: 100px;
  max-width: 200px;

}
.c{
  border:10px solid yellow;
  
  display: flex;
  max-width: 200px;
  min-height: 100px;
  
}
@media (max-width: 600px)
{
  .container
  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}