body {
  background: papayawhip;
}
*{
  border:1px solid brown;
}
.container{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  min-width: 500px;
}
.container>div{
  margin: 5px;
  min-height: 200px;
}
.container>.a{
  position: relative;
  width:100%;
  order:0;
}
.container>.b{
  position: relative;
  width:500px;
  order:1;
  max-height:200px
}
.container>.c{
  order:2;
}
.container>.d{
  order:3;
}
.container>.e{
  order:4;
}
.container>.c, .container>.d, .container>.e{
  position: relative;
  width:150px; 
}
.container>.f{
  position: relative;
  min-width:20%;
  order:5;
  height: 300px;
}
@media(max-width:600px){
  .container{
    flex-direction: column;
    flex-wrap:wrap;
  }
  .f{
    width:10%;
  }

}
