body {
  background: papayawhip;
}
*{
  border:1px solid brown;
}
.container{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-content: stretch;
  width:100vw;
  /* stretch is not stretching c/d/e towards b*/
  
}
.container>div{
  margin: 5px;
  min-height: 200px;
}
.container>.a{
  position: relative;
  width:100%;
  order:0;
}
.container>.b{
  position: relative;
  width:70%;
  order:1;
  max-height:200px;
}
.container>.c{
  order:3;
  flex-direction: column;
  width:20%;
}
.container>.d{
  order:4;
  width:20%;
}
.container>.e{
  order:5;
  width:20%;
}
/*.container>.c, .container>.d, .container>.e{
  position: relative;
  width:150px; 
}
*/
.container>.f{
  flex-direction: column;
  width:20%;
  position: relative;
  order:2;
  height: 300px;
}
@media(max-width:600px){

  .container>.b{
    flex-direction:row;
    width:100%
  }
  .container>.c{
    flex-direction: row;
    width:30%;
    order:2;
  }
  .container>.d{
    flex-direction: row;
    width:30%;
    order:3;
  }
  .container>.e{
    flex-direction: column;
    flex-wrap:wrap;
    width:30%;
    order:4;
  }
  .container>.f{
    order:5;
    width:100%
  }

}
