body {
  background: papayawhip;
}
*{
  border:1px solid brown;
}
.container{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  width:100vw;
  /* stretch is not stretching c/d/e towards b*/
  
}
header{
  width:100%;
  text-align: center;
}
header>.a{
  margin:5px;
  min-height: 200px;
  width:100%;
  position:relative;
}
section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
}
section>div{
  margin: 5px;
  min-height: 200px;
}
section>.b{
  position:relative;
  width:100%;
}
section>.c, section>.d,section>.e{
  position: relative;
  width:30%;
}
aside{
  position: relative;
  width:100%;
}
aside>.f{
  margin:5px;
  position:relative;
  width:100%;
  min-height: 200px;
}
@media(min-width:600px){
  section{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:70%
  }
  aside{
    width:28%;
    min-height:400px;
  }
  aside>.f{
    min-height: 400px;
  }
}
/*

.container>div{
  margin: 5px;
  min-height: 200px;
}
.container>.a{
  position: relative;
  width:100%;
  order:0;
}
.container>.b{
  position: relative;
  width:70%;
  order:1;
  max-height:200px;
}
.container>.c{
  order:3;
  flex-direction: column;
  width:20%;
}
.container>.d{
  order:4;
  width:20%;
}
.container>.e{
  order:5;
  width:20%;
}
/*.container>.c, .container>.d, .container>.e{
  position: relative;
  width:150px; 
}
*/
/*
.container>.f{
  flex-direction: column;
  width:20%;
  position: relative;
  order:2;
  height: 300px;
}
*/
/*
@media screen and (max-width:600px){

  .container>.b{
    flex-direction:row;
    width:100%
  }
  .container>.c{
    flex-direction: row;
    width:30%;
    order:2;
  }
  .container>.d{
    flex-direction: row;
    width:30%;
    order:3;
  }
  .container>.e{
    flex-direction: column;
    flex-wrap:wrap;
    width:30%;
    order:4;
  }
  .container>.f{
    order:5;
    width:100%
  }

}
*/