body {
  background: papayawhip;
}
*{
  border:1px solid brown;
}
.container{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-content: stretch;
  width:100vw;
  /* stretch is not stretching c/d/e towards b*/
  
}
.container>div{
  margin: 5px;
  min-height: 200px;
}
.container>.a{
  position: relative;
  width:100%;
  order:0;
}
.container>.b{
  position: relative;
  width:70vw;
  order:1;
  max-height:200px;
}
.container>.c{
  order:3;
  flex-direction: column;
  width:23vw;
}
.container>.d{
  order:4;
  width:23vw;
}
.container>.e{
  order:5;
  width:23vw;
}
/*.container>.c, .container>.d, .container>.e{
  position: relative;
  width:150px; 
}
*/
.container>.f{
  flex-direction: column;
  width:20vw;
  position: relative;
  order:2;
  height: 300px;
}
@media(max-width:600px){
  .container{
    flex-direction: column;
    flex-wrap:wrap;
  }
  .f{
    width:10%;
  }

}
